<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>
<% if User.find_by_id(session[:current_user_id]) %>
      <%= link_to "Back to calculations", calc_input_path %> </br>
  <% end %>

<%= link_to "Back to sign in", root_path %> </br>
<%= link_to "New user", new_user_path %>
